@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.bg-glass{
    background: rgba(255, 255, 255, 0.116);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
}

.bg-header{
    background-image: url("../../assets/backgrounds/bg-header.jpg");
    background-size: cover;
    background-position-x: 30%;
    filter: grayscale(.7);
}

.bg-header-change{

}

.bg-header::after{
    content: " ";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.445) ,rgba(0, 0, 0, 0.719), black);
    backdrop-filter: blur(1.5px);
}

.bg-desapear{
    animation: 2s desapear;
}

@keyframes desapear{
    from{
        background: linear-gradient(black, rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.445) ,rgba(0, 0, 0, 0.719), black);
    }
    to{
        background-color: black;
    }
}

.title-header{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
    color: white;
}

@media screen and (min-width: 767px) {
    .bg-header{
        background-position-x: 30%;
        background-position-y: 30%;
    }
    .title-header{
        font-size: 5rem;
        line-height: 80px;
    }
}